<section   data-aos="fade-right" class="get__schedule">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div *ngIf="!isMobile" class="col col-md-6">
          <div class="pic__section" *ngIf="!isMobile">
            <img src="assets/images/person.png" width="572px" height="393px" />
          </div>
        </div>
        <div class="col col-md-6 col-sm-2">
            <div>
              <h3 class="main__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
            </div>
          <div>
            <h1>Lorem Ipsum</h1>
            <h1 class="secondary__title">Dolor Sit Amet Consectetuer!</h1>
          </div>
          <div>
            <button class="schedule__btn">Schedule a call today!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
