<section   data-aos="fade-right" class="footer">
    <div class="mb__footer">
        <div class="row">
            <div class="get-touch col-md-7" style="text-align: right;">
                <p class="grayish" style="font-size: 17px; font-weight: 900;  margin-left: 10px;">Get in Touch</p>
                <p class="grayish">mail@gharbaar.com<i style="
                    margin-left: 10px;
                " class="fa fa-envelope"></i></p>
                <p>&copy; Gulberg Green Express way, Islamabad<i class="fa fa-marker" style="
                    margin-left: 10px;
                "></i></p>
                <p>All rights reserved</p>
            </div>
            <div class=" get-touch col-md-5">
                <p class="grayish" style="font-size: 17px; font-weight: 900;  margin-left: 10px;">Follow Us</p>
               <i class="fa fa-instagram"></i>
               <i class="fa fa-facebook"></i>
               <i class="fa fa-youtube"></i>
             
             
            </div>
        </div>
        <div class="row">
            <div  class="col des col-xs-12">
                <ul class="list-inline">
                    <li><a >Contact</a></li>
                    <li><a >Disclaimer</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>&copy; 2021 Lorem ipsum, pvt Ltd
                       All rights reserved</a></li>
                  </ul>
                </div>
                <div class="col mob col-xs-12">
                <p class="grayish">Terms and Conditions</p>
                <p class="grayish">Privacy</p>
                <p>&copy; 2021 Lorem ipsum, pvt Ltd</p>
                <p>All rights reserved</p>
         </div>
        </div>
    </div>
    
</section>