<section   data-aos="fade-right" class="quality__section">
    <div class="wrapper">
      <div class="ml-0 mr-0 mx-auto text-center testimonial__titles">
        <h1 class="main__title">Lorem Ipsum Dolor Sit Amet</h1>
        <img src="assets/images/OBJECTS.png" />
        <div class="text__wrapper" *ngIf="!isMobile">
          <h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
          </h3>
          <h3>
            Nullam malesuada erat ut turpis Suspendisse urna nibh. 
          </h3> 
          <h3>
            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean 
          </h3>
          <h3>
            dignissim pellentesque felis. 
          </h3>
          <h3 class="bold__text">
            Morbi in sem quis dui placerat ornare pellentesque
          </h3>
        </div>

        
        




        <div class="text__wrapper" *ngIf="isMobile">
          <h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. 
          </h3>
          <h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra. 
          </h3> 
          <h3>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra.
          </h3>
          <!-- <h3>
            dignissim pellentesque felis. 
          </h3>
          <h3 class="bold__text">
            Morbi in sem quis dui placerat ornare pellentesque
          </h3> -->
        </div>


        <button class="schedule__btn">Schedule a call today!</button>
      </div>
    </div>
  </section>
  