<section   data-aos="fade-right" class="services__section">
    <div class="container inner__box">
    <div class="row">
      <div class="col col-md-4"   data-aos="fade-right">
        <div class="services__section__title">
          <h1 class="green__text">Lorem <span class="d-block white__text">Ipsum Dolor</span></h1>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Enim eu turpis egestas pretium aenean pharetra magna ac. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero enim. Etiam sit amet nisl purus in mollis nunc sed id. Placerat in egestas erat imperdiet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Felis eget velit aliquet sagittis id consectetur.</p>
       </div>
      </div>
      <div *ngIf="!isMobile" class="col col-md-8 services__section__images"   data-aos="fade-right">
        <img class="first__image" src = "assets/images/document.png" />
        <img class="second__image" src = "assets/images/people.png" />
      </div>
   
    </div>
  </div>
  
  </section>