<section class="steps__section"   data-aos="fade-right">
    <div class="d-flex justify-content-center align-items-center inner__text__box" style="height:100px;" >
      <h1 class="main__title">Lorem ipsum dolor sit</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-md-8 col-xs-12 col-sm-12 offset-md-2 offset-xs-0 offset-sm-0 steps__body">
          <h1 class="green__text">step 1</h1>
          <h1 class="white__text">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col col-md-2 ">
          <div class="info__icon">
            <img src="assets/images/communicate.svg" />
          </div>
        
        </div>
      </div>
      <div class="next__step__icon">
      <div class="row">
        <div class="container">
          <div class="col col-md-4 offset-md-2">
            <div >
            <img src="assets/icons/next.svg" />
            </div>
         </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col col-md-8 offset-md-2 steps__body">
          <h1 class="green__text">step 2</h1>
          <h1 class="white__text">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col col-md-2 ">
          <div class="info__icon">
          <img src="assets/images/question-mark.svg" />
          </div>
        </div>
      </div>
      <div class="next__step__icon">
      <div class="row">
        <div class="container">
          <div class="col col-md-4 offset-md-2">
            <div >
            <img src="assets/icons/next.svg" />
            </div>
         </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col col-md-8 offset-md-2 steps__body">
          <h1 class="green__text">step 3</h1>
          <h1 class="white__text">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col col-md-2 ">
          <div class="info__icon">
          <img src="assets/images/chat.svg" />
          </div>
        </div>
      </div>
      <div class="next__step__icon">
      <div class="row">
        <div class="container">
          <div class="col col-md-4 offset-md-2">
            <div >
            <img src="assets/icons/next.svg" />
            </div>
         </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col col-md-8 offset-md-2 steps__body">
          <h1 class="green__text">step 4</h1>
          <h1 class="white__text">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col col-md-2">
          <div class="info__icon">
          <img src="assets/images/sharesecond.svg" />
          </div>
        </div>
      </div>
      <div class="next__step__icon">
      <div class="row">
        <div class="container">
          <div class="col col-md-4 offset-md-2">
            <div >
            <img src="assets/icons/next.svg" />
            </div>
         </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col col-md-8 offset-md-2 steps__body">
          <h1 class="green__text">step 5</h1>
          <h1 class="white__text">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col col-md-2">
          <div class="info__icon">
          <img src="assets/images/placeholder.svg" />
          </div>
        </div>
      </div>
      <div class="next__step__icon">
      <div class="row">
        <div class="container">
          <div class="col col-md-4 offset-md-2">
            <div >
            <img src="assets/icons/next.svg" />
            </div>
         </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col col-md-8 offset-md-2 steps__body">
          <h1 class="green__text">step 6</h1>
          <h1 class="white__text">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col col-md-2 ">
          <div class="info__icon">
          <img src="assets/images/share.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center inner__text__box">
      <div class="box">
          <h1 class="main__title">Lorem ipsum dolor sit...</h1>
        <div class="row">
          <div class="col">
              <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium molestias animi magni qui accusantium cumque! Totam praesentium voluptate consequatur voluptatem possimus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>