<section   data-aos="fade-right" class="testimonials__section">
  <div class="section__wrapper">
    <div class="ml-0 mr-0 mx-auto text-center testimonial__titles">
      <h1 class="main__title">Success Stories</h1>
      <h1>Ex-Franchise Client Testimonials</h1>
    </div>
    <div class="cards__Wrapper">
      <div class="row">
        <div [ngClass]="isMobile?'col col-12 card1':'col col-lg-2 card1'" >
          <div class="ml-0 mr-0 mx-auto text-center">
            <div class="card__desc">
              <span class="blockquote"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
            <div>
              <img src="assets/images/person1.png" />
            </div>
            <div class="bottom__titles">
              <h3>Lorem Ipsum</h3>
              <p>Lorem Ipsum dolor sit.</p>
            </div>
          </div>
        </div>

        <div [ngClass]="isMobile?'col col-12 card2':'col col-lg-2 card2'">
          <div class="ml-0 mr-0 mx-auto text-center">
            <div class="card__desc">
              <span class="blockquote"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
            <div>
              <img src="assets/images/person1.png" />
            </div>
            <div class="bottom__titles">
              <h3>Lorem Ipsum</h3>
              <p>Lorem Ipsum dolor sit.</p>
            </div>
          </div>
        </div>

        <div [ngClass]="isMobile?'col col-12 card3':'col col-lg-2 card3'">
          <div class="ml-0 mr-0 mx-auto text-center">
            <div class="card__desc">
              <span class="blockquote"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
            <div>
              <img src="assets/images/person1.png" />
            </div>
            <div class="bottom__titles">
              <h3>Lorem Ipsum</h3>
              <p>Lorem Ipsum dolor sit.</p>
            </div>
          </div>
        </div>

        <div [ngClass]="isMobile?'col col-12 card4':'col col-lg-2 card4'">
          <div class="ml-0 mr-0 mx-auto text-center">
            <div class="card__desc">
              <span class="blockquote"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
            <div>
              <img src="assets/images/person1.png" />
            </div>
            <div class="bottom__titles">
              <h3>Lorem Ipsum</h3>
              <p>Lorem Ipsum dolor sit.</p>
            </div>
          </div>
        </div>

        <div [ngClass]="isMobile?'col col-12 card5':'col col-lg-2 card5'">
          <div class="ml-0 mr-0 mx-auto text-center">
            <div class="card__desc">
              <span class="blockquote"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
            <div>
              <img src="assets/images/person1.png" />
            </div>
            <div class="bottom__titles">
              <h3>Lorem Ipsum</h3>
              <p>Lorem Ipsum dolor sit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>