@import "~bootstrap/dist/css/bootstrap.min.css";
*{
    margin:0px;
    padding:0px;
    font-family:roboto,sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body
{
    overflow-x: hidden !important;
}

@media screen and (max-width: 480px) {
    body{
    margin-right: -3px !important;
    overflow-x: hidden !important;
}
}